body {
    margin: 0;
    padding: 0;
}


/* navbar section  */
header {
    background-color: #FFF8F3;
    background-image: url('../images/dev.png'), url('../images/color.png');
    background-repeat: no-repeat;
    background-position: left, right bottom;
}

nav {
    padding: 50px 100px;
}

.name {
    font-size: 45px;
}

.name .firstLater {
    color: #FD6E0A;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap {
    gap: 50px;
}

.contact-btn {
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;

}

.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 18px 35px;
    font-size: 20px;
}

#contact-btn {
    background-color: #FFF8F3;
    border-radius: 5px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
}

/* Hero Section  */

.hero {
    margin: 0px 70px 0px 150px;
}

.section-margin {
    margin: 0 150px;
}

#intro h3 {
    color: #474747;
    font-size: 45px;
}

#intro h1 {
    font-size: 85px;
}

.paragraph {
    font-size: 18px;
    color: #757575;
}

/* About Section  */
.section-title {
    font-size: 35px;
}
